.register-title{
    height: 37px;
    line-height: 37px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}
.error-info{
    height: 31px;
    padding: 0 0 0 13px;
    box-sizing: border-box;
    .error-msg{
        color: #f50;
        font-size: 13px;
    }
}